.nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0 50px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;

  &__logo {
    width: 154px;
  }

  &__menu {
    display: flex;
    align-items: center;
    margin-bottom: 0;

    li {
      font-size: 17px;
      line-height: 0.88;
      letter-spacing: 2.07px;
      text-align: center;
      font-weight: 500;
      list-style: none;

      a {
        color: black;
      }
      margin-right: 40px;

      &:after,
      &:before {
        font-size: 20px;
        font-weight: 800;
        color: $sky-blue;
        margin-left: 30px;
        line-height: 1;
      }

      &:nth-child(1) {
        &:after {
          content: "+";
        }
      }
      &:nth-child(2) {
        &:after {
          content: "=";
        }
      }

      &:nth-child(4) {
        &:before {
          margin-right: 10px;
          content: "(";
        }
        &:after {
          margin-left: 10px;
          content: ")";
        }
      }

      &:nth-child(5) {
        &:before {
          margin-right: 10px;
          content: "(";
        }
        &:after {
          margin-left: 10px;
          content: ")";
        }
      }
    }
  }
}

// HAMBURGER BTN --- HAMBURGER BTN --- HAMBURGER BTN ---
.nav-mob-cont {
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 15px;
  right: 15px;

  display: flex;
  justify-content: space-between;

  @include media-sml {
    top: 25px;
    left: 25px;
    right: 25px;
  }

  @include media-lrg {
    display: none;
  }
}

.nav-mob-logo {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @include media-sml {
    width: 300px;
  }
}

.hamburger-cont {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.menu-btn {
  font-size: 30px;
  cursor: pointer;

  @include media-sml {
    font-size: 37px;
  }

  @include media-lrg {
    display: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-out {
  animation-name: fadeOut;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.fa-bars {
}

.fa-times {
  color: white;
}

.hide {
  display: none;
}

.current-menu-item {
  a,
  a:link,
  a:visited,
  a:active {
    color: darkblue;
  }
}
