////////////////////////////////////////////////////////////////////////////
///****   typography     typography     typography     typography   ****///
///////////////////////////////////////////////////////////////////////////

// @font-face {
// 	font-family: 'Euclid Circular B';
// 	src: url('../fonts/Euclid/EuclidCircularB-Regular.woff2') format('woff2'),
// 		url('../fonts/Euclid/EuclidCircularB-Regular.woff') format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// }

/// sets the html global font size when your font-size is in REMS then it will change accordingly
// html {
// 	font-size: 14px;

// 	// @media (min-width: $media-sml) {font-size:14px}
// 	@media (min-width: $media-med) {
// 		font-size: 16px
// 	}

// 	// @media (min-width: $media-lrg) {font-size:18px}
// 	// @media (min-width: $media-lrg-xl) {font-size:19px}
// }

///function to turn px into rem
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

////use it like this
//h1 {@include fontSize(32px);//}
@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

html {
  // font-size: 16px;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-style: normal;
  font-weight: 400;
  @include fontSize(55px);
}

h2 {
  @include fontSize(34px);
}

h3 {
  @include fontSize(30px);
}

h4 {
  @include fontSize(26px);
}

h5 {
  @include fontSize(18px);
}

h6 {
  @include fontSize(16px);
}

p {
  @include fontSize(16px);
  line-height: 1.4;
  margin-bottom: 1rem;
}

small {
  @include fontSize(14px);
}

strong {
  font-weight: 600;
}

ul {
  margin-top: 30px;
  margin-bottom: 30px;
}

li {
  @include fontSize(16px);
  list-style: circle;
  list-style-position: inside;
}

////****href ****/////
a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  // text-decoration: underline;
  // @include b1();
  color: grey;

  &:hover {
    color: darkgray;
  }
}

////**** quotes ****/////
// em {
//   font-style: italic;
// }

// em::before {
//   content: '"';
// }

// em::after {
//   content: '"';
// }

////**** blockquote ****////
blockquote {
  margin: 1rem 1rem;
  padding-left: 1rem;
  font-style: italic;
  color: darkslategray;
  border-left: 1px solid;
  line-height: 1.5;
}
