$black: #000;
$white: #fff;
$grey: #808080;
$sky-blue: #00b9ee;

// Breakpoints --- Breakpoints --- Breakpoints --- Breakpoints ---
$break-mobile: 321px;
$break-tablet: 567px;
$break-desktop: 768px;
$break-desktop-med: 1090px;
$break-desktop-wide: 1200px;

// Layout --- Layout --- Layout --- Layout ---

@mixin block-wrapper {
  background-color: $white;
  color: $black;
}

@mixin block-width {
  width: 90%;
  margin: 0 auto;
  @media (min-width: $break-tablet) {
    width: 500px;
  }

  @media (min-width: $break-desktop) {
    width: 700px;
  }

  @media (min-width: $break-desktop-wide) {
    width: 800px;
  }
}

@mixin block-padding {
  padding: 0 0 40px 0;
  @media (min-width: $break-desktop) {
    padding: 0 0 60px 0;
  }
}

@mixin block-layout {
  @include block-width;
  @include block-padding;
}

.b-layout {
  @include block-layout();
}
